.container-config-icons{width: 50%; height: 30%; position: absolute; left: 57.5%; top: 40%; transform: translate(-50%, -50%);}
.div-cars-icon{float: left; width: 45%; height: 100%;}
.img-class-icon{width:180px; border-style: solid; border-radius: 50%; border-width: 4px; cursor: pointer;}